<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/add" method="POST">
	<input type="text" name="nameee" placeholder="Name">
	<button type="submit">Add</button>
</form>
<h1>Data from MongoDB:
	<%= data.at(-1).nameee %>
</h1>
</body>
</html>
